<form action="/localuser/login" method="POST">
	<input type="text" name="username" placeholder="username" />
	<br/>
	<input type="text" name="email" placeholder="email" />
	<br/>
	<input type="password" name="password" placeholder="password" />
	<br/>
	<input type="password" name="password2" placeholder="retype your password" />
	<br/>
	<input type="text" name="profile_pic" placeholder="url of your profile picture" />
	<br/>
	<input type="submit" />
</form>