<!DOCTYPE html>
<html>
<head>
	<title>Husky Blogs Home</title>

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<% if(errors) {%>
		<% errors.forEach((err)=>{ %>
			<p class="alert alert-danger"> <%= err %></p>
		<% }) %>
	<% } %>
	<h1 class="logo">Husky Blogs</h1>
	<div id="signup">
		<% include ./partials/signup %>
	</div>
	<div id="login">
		<% include ./partials/login %>
	</div>

	<br/>
	<button class="social-button" id="local-btn"> </button>
	<br/>
	<a href="/auth/facebook" class="facebook-btn"><img class="social-button" src="/img/fbbutton.png"  alt="sign in with facebook" /></a>
	<br/>
	<a href="/auth/google"><img class="social-button google-btn" src="/img/googlebutton.png" alt="sign in with google" /></a>



	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/signinorlogin.js"></script>
	<script type="text/javascript" src="/js/homepage.js"></script>
</body>
</html>
