<!DOCTYPE html>
<html>
<head>
	<title>Husky Blogs Home</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/style.css" />
</head>
<body>
	<h1 class="logo">Husky Blogs</h1>
	<% include ./partials/loginform %>

	<script type="text/javascript" src="/script.js"></script>
</body>
</html>